
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');







*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.c2{
    color: rgb(241, 150, 150);
}
.child1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c3 {
    display: flex;
    list-style: none;
    gap: 30px;
    text-decoration: none;
    color: blanchedalmond;
}
.hi1{
    display: flex;
    font-weight: bold;
}
.btn1{
    background-color: rgb(243, 104, 104);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.par{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.dad{
background-color: seagreen;
}
.hi2{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.hlw
.active{
    opacity: 100%;
}

.cld2{
    justify-content: center;
    color: #d68383;
}
.par2{
    justify-content: center;
}